@tailwind base;
@tailwind components;
@tailwind utilities;

._login-bg {
    background-image: url('../public/img/bg-login.jpg');
    width: auto;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.my-button {
    transition: .5s;
    z-index: 1;
}

.my-button:hover {
    color: #ffffff;
    background: #000;
}